@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    --color-main: #2A2A2A;  
    --color-main-2: #F5AF31;  

    --color-main-secondary: #2F2F2F;  
    --color-text-shadow:var(--color-main);
    
    --color-white : #ffffff;

    --color-card : #3f3f3f;
    --color-card-hover : #383838;
}

body{
    color: white;
    background-color: var(--color-main);
    font-family: 'Poppins', sans-serif;
    /* text-shadow: 2px 2px var(--color-text-shadow); */
}

p{
    color: #a1a1a1;
}

.img-normal{
    width: 100% !important;
    height: auto !important;
}

/* .masthead{
    padding-top: 100px;
    padding-bottom: 100px;
} */

.masthead .text-masterhead{
    /* letter-spacing: 2px; */
    line-height: 2rem;
}

.masthead .img-masterhead{
    /* position: relative;  */
    /* left: -160px; */
    width: auto;
    height: 100%; 
}

/* @media (max-width: 480px){
    .masthead .img-masterhead{
        width: 200px; 
        left: -100px;
    }
} */

.bg-main{
    background-color: var(--color-main);
}
.bg-main-2{
    background-color: var(--color-main-2);
}
.text-main-2{
    color: var(--color-main-2);
}
.btn-main-2{
    color: var(--color-main-2);
    border-color: var(--color-main-2);
}
.btn-main-2:hover{
    color: var(--color-main);
    background-color: var(--color-main-2);
}
.btn-outline-main{
    color: var(--color-main-2);
    border-color: var(--color-main-2);
}
.btn-outline-main:hover{
    color: var(--color-main);
    background-color: var(--color-main-2);
}

.page-about{
    background-color: var(--color-main-secondary);
}
.page-services{
    background-color: var(--color-main-secondary);
}
.page-portfolio{
    background-color: var(--color-main-secondary);
}

.bg-main-secondary{
    background-color: var(--color-main-secondary);
}

.bg-card{
    color: white;
    background-color: var(--color-card);
    border-color: var(--color-card);
}

.bg-card:hover{
    color: white;
    background-color: var(--color-card-hover);
    border-color: var(--color-card-hover);
}



.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
